# Byte-compiled / optimized / DLL files
__pycache__/
BookieTamer/__pycache__/urls.cpython-36.pyc
analysis/__pycache__/admin.cpython-36.pyc
analysis/__pycache__/models.cpython-36.pyc
analysis/__pycache__/urls.cpython-36.pyc
analysis/__pycache__/views.cpython-36.pyc
BookieTamer/__pycache__/settings.cpython-36.pyc
BookieTamer/__pycache__/urls.cpython-36.pyc
analysis/__pycache__/admin.cpython-36.pyc
analysis/__pycache__/models.cpython-36.pyc
analysis/__pycache__/urls.cpython-36.pyc
analysis/__pycache__/views.cpython-36.pyc
analysis/migrations/__pycache__/0001_match_model.cpython-36.pyc
analysis/migrations/__pycache__/0002_corrected_models.cpython-36.pyc

*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.idea/workspace.xml

