<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - Bookie Tamer</title>

    {% include 'core/includes/base_js_css_head.html' %}

</head>

{% load static %}

<body class="bg-dark">

<!-- Navbar -->
{% block navbar %}
    {% include 'core/snippets/header_navbar.html' %}
{% endblock %}

<div class="main-body py-3">
    {% block sidebar %}
    {% endblock %}
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid" id="main-block">
            <div class="row">

                {% block body %}
                {% endblock %}

            </div>
        </div>
    </main>
</div>

<!-- Enabling tooltips -->
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(document).ready(function() {
        console.log('erady');
        $('.js-multiple-select2').select2();
    });

</script>