{% include 'core/snippets/messages_and_form_errors.html' %}

<form action="" method="post" autocomplete="off">
{% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
            {% if form.fieldsets %}
                {% for fieldset in form.fieldsets %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="form-separator {% if not forloop.first %}pt-4{% endif %}">
                                <i class="fa fa-sm {{ fieldset.icon }} text-white bg-{{ fieldset.icon_color }} small-media-box" aria-hidden="true"></i>
                                {{ fieldset.title }}
                            </h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        {% for field in form %}
                            {% if field.name in fieldset.fields %}
                                <div class="col-lg-{{ field.field.widget.attrs.count_cols }} {% if field.field.widget.attrs.display_none %}d-none{% endif %}">
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-lg-{{ field.field.widget.attrs.count_cols }}">
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

{#            {% if upload_section %}#}
{#                <div id="uploadSection">#}
{#                    {% include 'core/snippets/upload_section.html' %}#}
{#                </div>#}
{#            {% endif %}#}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" name="stay_current_page" class="btn btn-success">Save</button>
        </div>
    </div>
</form>