{% load static %}

<nav class="navbar navbar-expand navbar-light bg-light static-top">
    <ul class="navbar-nav mr-4">
        <li class="nav-item"><a href="{% url "home" %}"><img src="{% static "core/logo.png" %}" width="70" height="50"></a></li>
    </ul>
    <ul class="navbar-nav text-dark">
        <li class="nav-item mx-2"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        {% if user.is_authenticated %}
            <li class="nav-item mx-2"><a class="nav-link" href="{% url "analysis:data" %}"><i class="fas fa-database"></i> Data</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="{% url "datafetch:games_to_bet" %}"><i class="fas fa-cloud-download-alt"></i> Get games</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="#"><i class="fas fa-list-ul"></i> Bet list</a></li>
            {% if user.user_settings %}
                <li class="nav-item mx-2"><a class="nav-link" href="{% url "datafetch:datafetch_settings" user.user_settings.pk %}"><i class="fas fa-wrench"></i> Setting</a></li>
            {% else %}
                <li class="nav-item mx-2"><a class="nav-link" href="{% url "datafetch:datafetch_settings_create" %}"><i class="fas fa-wrench"></i> Settings
                    <i class="fas fa-exclamation-circle text-danger" data-toggle="tooltip" title="You have no settings, click and create one first." data-placement="right"></i>
                </a></li>
            {% endif %}
        {% endif %}
    </ul>
    <ul class="navbar-nav text-dark ml-auto">
        {% if not user.is_authenticated %}
            <li class="nav-item mx-2"><a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i> Sign up</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        {% else %}
            
            <!-- username with dropdown -->
            <div class="dropdown show">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ user.username }}</a>
            
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                </div>
            </div>

            <li class="nav-item mx-2"><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i> Logout</a></li>
        {% endif %}
    </ul>
</nav>