{% extends 'core/base.html' %}
{% load core_extras %}

{% block title %}
    Games to bet
{% endblock title %}

{% block body %}

     <div class="col-sm-12 py-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        {% if no_settings %}
                            <h1 class="h4 mt-1 font-weight-bold">Go to settings and select criteria for the games</h1>
                        {% else %}
                            <h1 class="h4 mt-1 font-weight-bold">Games to bet on</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-outline-primary js-show-to-bet">Show to bet</button>
                        <button class="btn btn-outline-primary js-show-all">Show all</button>
                    </div>
                     {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        {{ html_table|safe }}
                    </div>
                </div>
            </div>
        </div>
     </div>

    <script>
        $(document).ready(function(){
            $('.dataframe').addClass('table table-striped table-dark');
            $(this).find('thead').find('tr').addClass('text-left');

            $('thead tr:first').addClass('to_bet');
            $('tbody td:contains(True)').parent().addClass('text-success').addClass('to_bet');

            var removeColumnName = "<th class='text-center'>Hide</i></th>";
            $('thead').find('tr').append(removeColumnName);

            var removeButton = "<td class='text-center text-success'><i class=\"fas fa-check mark-hide\" style='cursor: pointer;'></i></td>";
            $('tbody').children('tr').append(removeButton);
            $('.mark-hide').on('click', function () {
                $(this).parents('tr').fadeOut();
            });

            $('.js-show-all').on('click', function () {
                $('tbody').children().fadeIn();
            });

            $('.js-show-to-bet').on('click', function () {
                $('tr:not(".to_bet")').fadeOut();
            });

        });
    </script>
{% endblock %}

