{% extends 'core/base.html' %}
{% load core_extras %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="col-sm-12 py-4" xmlns="http://www.w3.org/1999/html">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="h4 mt-1 font-weight-bold">Games to bet on</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="post">
                            <div class="row">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="col-sm-2">
                                        {{ field.label }}: {{ field| safe }}
                                    </div>
                                {% endfor %}
                                <input class="btn btn-primary mt-5" type="submit" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
           $('input').addClass('form-control');
        });
    </script>

{% endblock %}