{% load static %}
<!--JS statics-->

<script src= "{% static 'analysis/js/jquery.js' %}"></script>
<script src= "{% static 'js/jquery.min.js' %}"></script>
<script src= "{% static 'analysis/js/bootstrap.js' %}"></script>
<script src= "{% static 'analysis/js/Chart.js' %}"></script>
<script src= "{% static 'analysis/js/fontawesome.min.js' %}"></script>
<script src= "{% static 'analysis/js/bootstrap.bundle.min.js' %}"></script>
<script src= "{% static 'analysis/js/jquery.easing.min.js' %}"></script>
<script src= "{% static 'analysis/js/sb-admin.min.js' %}"></script>

<!--CSS statics-->

<link rel="stylesheet" type="text/css" href= "{% static 'analysis/css/bootstrap.css' %}"/> 
<link rel="stylesheet" type="text/css" href= "{% static 'analysis/css/sb-admin.css' %}"/> 
<link rel="stylesheet" type="text/css" href= "{% static 'analysis/css/sb-admin.min.css' %}"/> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
